@charset "UTF-8";
/* CSS Document */

img.ex1, object{
	max-height:90%;
	max-width:90%;
}


img.ex2, object{
	max-height:60%;
	max-width:60%;
}

img.ex3, object{
	max-height:40%;
	max-width:40%;
}

img.ex70, object{
	max-height:70%;
	max-width:70%;
}